@import-normalize;

*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --blue: hsl(200, 100%, 50%);
    --purple: hsl(260, 100%, 50%);
    --success: hsl(100deg 50% 50%);
    --error: hsl(0, 50%, 50%);
}

input {
    width: 100%;
    border: 1px solid #000;
}

button {
    padding: 0;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

.error {
    color: var(--error);
}

.success {
    color: var(--success);
}

.App {
    height: 100vh;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.board {
    max-width: 560px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.candy {
    height: 70px;
    cursor: pointer;
}

.game-title {
    align-self: center;
    margin: 0;
    font-size: 2.5rem;
}

.game-container {
    display: flex;
    flex-direction: column;
}

.score {
    text-align: center;
    background-color: #eee;
    align-self: center;
    min-width: 200px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 6px;
}

.game-panel {
    position: relative;
}

.side-panel {
    position: absolute;
    top: 0;
    left: calc(100% + 51px);
}

.save-score-box {
    border: 2px solid var(--purple);
    margin-bottom: 10px;
}

.save-score-box .save-score-title {
    color: var(--purple);
    margin: 0 0 6px;
    text-align: center;
}

.save-score-box .name-input input {
    border: none;
    border-bottom: 1px solid var(--purple);
    font-size: 1rem;
    padding: 5px 10px;
    outline: none;
}

.save-score-box .name-input input::placeholder {
    color: var(--purple);
}

.save-score-box .name-input .error {
    padding: 5px;
}

.save-score-box .save-score-btn {
    padding: 5px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    width: 100%;
    background-color: #fff;
    border: none;
    transition: all 0.1s ease-in-out;
}

.save-score-box .success {
    padding: 5px;
    font-weight: 700;
    text-align: center;
}

.save-score-box .save-score-btn:hover {
    background-color: var(--purple);
    color: #fff;
}

.ranking .ranking-title {
    text-align: center;
    color: var(--blue);
    margin: 0;
    border: 2px solid var(--blue);
    border-bottom: none;
    padding: 10px;
}

.ranking ul {
    border: 2px solid var(--blue);
}

.ranking ul li {
    display: grid;
    grid-template-columns: 200px auto;
    padding: 10px;
}

.ranking ul li:not(:last-child) {
    border-bottom: 2px solid var(--blue);
}