body {
    margin: 0;
}

.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    max-width: 560px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.candy {
    height: 70px;
    cursor: pointer;
}